# Immutable data Structure
   * access the characters of string

In [7]:
s="Hello World"
print(s[2])
print(s[5],"Space")
print(s[20])

l
  Space

IndexError: string index out of range

In [8]:
print(s[-1])
print(s[-5])

d
W

## * By using Slicing Operator 

    Syntax ==> s[Begin index : end index : step]

In [9]:
s='Learning Python is very Easy'
print(s[1:7:1])
print(s[1:7])

earnin
earnin

In [10]:
print(s[:7])

Learnin

In [11]:
print(s[5:])

ing Python is very Easy

In [12]:
print(s[1:7:2])

eri

In [13]:
print(s[::2])

Lann yhni eyEs

In [14]:
print(s[:])

Learning Python is very Easy

In [15]:
print(s[::])

Learning Python is very Easy

* imp

In [16]:
print(s[::-1])

ysaE yrev si nohtyP gninraeL

In [17]:
print(s[-5::])

 Easy

In [20]:
print(s[-10:-2:])

 very Ea

In [32]:
a=input("Enter String : ")
print("Yes it is Palidrome" if s==s[::-1] else "No" )

Enter String : aaaa
No

## Mathematical operation for String
- +==> String Concentration
- *==> String Repetation

In [1]:
print('Dixit '+' Patel')
print('Dixit '*3)

Dixit  Patel
Dixit Dixit Dixit

## Comparision of String

In [4]:
s1=input('Enter String 1 : ')
s2=input('Enter String 2 : ')
if s1==s2 :
    print('Both r equal')
elif s1>s2 :
    print('S1 is greater')
elif s1<s2 :
    print('S2 is greater')

Enter String 1 : Aryan
Enter String 2 : Arman
S1 is greater

### Joining of Strings
- join a grp of String wrt the given seperation
- syntax
- s=seperator.join(grp of string)

In [8]:
t=('Abc','Pqr','Xyz')
x='//'.join(t)
print(x)

Abc//Pqr//Xyz

## Formatting of String

In [10]:
name="Dixit"
sal=40000
age=21
print("{}'s Salary is {} and Age is {}".format(name,sal,age))

Dixit's Salary is 40000 and Age is 21

In [12]:
print("{2}'s Salary is {0} and Age is {1}".format(name,sal,age))

21's Salary is Dixit and Age is 40000

## Imp function of String

In [14]:
s="Hello Python"
len(s)

12

* Removing Spaces from String
* 1) lstrip()
* 2) rstrip()
* 3) strip()

In [20]:
s="Apple   "
x=s.rstrip()
print(s)
print(x)
print(len(s),"s")
print(len(x),"x")

Apple
Apple
8 s
5 x

In [22]:
s="    Apple"
x=s.lstrip()
print(s)
print(x)
print(len(s),"s")
print(len(x),"x")

    Apple
Apple
9 s
5 x

In [23]:
s="    Apple     "
x=s.strip()
print(s)
print(x)
print(len(s),"s")
print(len(x),"x")

    Apple
Apple
14 s
5 x

In [27]:
s="Banana"
x=s.rstrip('a')
print(x)

Banan

In [28]:
s="Banana "
x=s.rstrip('a')
print(x)

Banana

In [37]:
s="Banana"
x=s.rstrip('na')
print(x)

B

In [40]:
s="Bamana"
x=s.rstrip('na')
print(x)

Bam

In [42]:
s="Hello Python"
x=s.upper()
print(x)

HELLO PYTHON

In [46]:
x=s.lower()
print(x)

hello python

In [47]:
z=s.swapcase()
print(z)

hELLO pYTHON

* 4) title()
* 5) capitalize()

In [48]:
s="Hello How R U"
x=s.title()
print(x)
y=s.capitalize()
print(y)

Hello How R U
Hello how r u

## To check type of Characters present in a String (check function) Boolean
- isalnum() returns Ture if all Character are Alphanumeric

In [49]:
x='Company123'
print(x.isalnum())

True

In [52]:
print(x.isdigit())

False

In [53]:
x='Company'
print(x.isalpha())

True

In [55]:
x='Company  abc'
print(x.isalpha())

False

In [56]:
x='123'
print(x.isdigit())

True

In [58]:
x='123 456 789'
print(x.isdigit())

False

In [64]:
x='123 56'
print(x.isnumeric())

False

In [66]:
x='company123'
print(x.islower())

True

In [67]:
x='Company123'
print(x.islower())

False

In [71]:
x='ABC 123'
print(x.isupper())

True

In [73]:
x='Company123'
print(x.isupper())

False

In [78]:
x='Hey How Are You'
print(x.istitle())

True

In [79]:
x='Hey HOw ARe You'
print(x.istitle())

False

In [80]:
a="22 Names"
b="This Is %?"
print(a.istitle())
print(b.istitle())

True
True

In [83]:
a="MyFolder"
b="Demo002"
c='my demo'
d='my_demo'
e='123abc'
print(a.isidentifier())
print(b.isidentifier())
print(c.isidentifier())
print(d.isidentifier())
print(e.isidentifier())

True
True
False
True
False

In [87]:
a="   "
x=a.isspace()
print(x)

True

In [92]:
a='Hello how are you'
c=0
for i in range(len(a)):
    if a[i].isspace() :
        c+=1
print(c)

3

* /**/

In [104]:
a='Hello how are you 123'
c=0
for i in a:
    if i.isspace() :
        c+=1
print(c,'Spaces')

4 Spaces

In [103]:
a='Hello how are you 123'
c=0
for i in a:
    if i.isalpha() :
        c+=1
print(c,'Aplhabet')

14 Aplhabet

In [102]:
a='Hello How Are You 123'
c=0
for i in a:
    if i.isupper() :
        c+=1
print(c,'Upper cases')

4 Upper cases

In [101]:
a='Hello How Are You 123'
c=0
for i in a:
    if i.islower() :
        c+=1
print(c,'Lower cases')

10 Lower cases

In [1]:
a=input('Enter ur Str : ')
if len(a)%2==0:
    print(a)
else :
    print(a[0],a[(len(a)//2)],a[-1])

Enter ur Str : abcdefghi
a e i

In [11]:
s="Py$t00567@23hon@_"
ca=0
su=0
cd=0
csp=0
for i in s:
    if i.isalpha() :
        ca+=1
    elif i.isdigit() :
        cd+=1
        su=su+int(i)
    else :
        csp+=1
        
print(ca,'Aplhabet')
print(cd,'Digit')
print(csp,'Special Char')
print(su,'Sum')
print(su/cd,'Avg')

6 Aplhabet
7 Digit
4 Special Char
23 Sum
3.2857142857142856 Avg

* find()
    - Returns index of first occurence of the given substring
    - if it is not avilable then we will get -1
* syntax s.find(Sub String)   /
* syntax s.find(Sub String , Begin , End)

In [13]:
s='I am a good Boy a , HAHAHA  -DP '
print('a :',s.find('a'))
print('good :',s.find('good'))
print('H :',s.find('H'))
print('x :',s.find('x'))

a : 2
good : 7
H : 20
x : -1

In [15]:
print('a :',s.find('a',7,25))

a : 16

* count()

In [29]:
s="abc dgha b cjb a ib dabcjabh ma "
print(s.count('a'),'a')
print(s.count('a',8,16),'a from 8 to 16')
print(s.count('abc'),'abc')
print(s.count('xyz'),'xyz')
print(s.count(' '),'space')
print(s.count('')-1,'*** Length ***')

6 a
1 a from 8 to 16
2 abc
0 xyz
8 space
32 *** Length ***

* replace()
    - to replace old string with new one 
* syntax ++> s.replace(old string , new string)
* syntax ==|> s.replace(old string , new string , number of times)

In [33]:
s='learning java is good , java is eaaasy to learn'
x=s.replace('java','Python')
print(x)

learning Java is good , Python is eaaasy to learn

In [36]:
s='My self Diit Patel , diit is at 5th floor , Diit is in Py class'
x=s.replace('Diit','Dixit')
print(x)

My self Dixit Patel , diit is at 5th floor , Dixit is in Py class

* split()
    - split(seperator) ==> We can split the given String acc. to specified seperator by using split() method
    - by default seperator is space
    - return type is list

In [38]:
s="java$python$Maths$PS$DSA"
x=s.split('$')
print(x)

['java', 'python', 'Maths', 'PS', 'DSA']

In [47]:
s='learning java is good '
x=s.split()
print(x)

['learning', 'java', 'is', 'good']

In [50]:
d='29-10-2025'
l=d.split('-')
print(l)

['29', '10', '2025']

In [51]:
s="Hello World"
x=s.split("l")
print(x)

['He', '', 'o Wor', 'd']

In [53]:
s="abcd"
x=s.split("d")
print(x)

['abc', '']

In [55]:
s="abcd"
x=s.split("a")
print(x)

['', 'bcd']

In [56]:
s="abcd"
x=s.split("e")
print(x)

['abcd']

* Translate() with maketrans() function

In [58]:
import string
print(string.punctuation)
print(len(string.punctuation))

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~
32

* maketrans()
    * make translation table
    * mapping of character to thier replacement or to none for deletion
      * syntax ==> maketrans(from_chars,to_chars,delete_chars)

* translate()
    - applies translation table created by maketrans()
    - return new string with characters replaced or deleted

In [4]:
import string
s='Py$@th!!on'
l=s.maketrans('','',string.punctuation)
x=s.translate(l)
print(l)
print(x)

{33: None, 34: None, 35: None, 36: None, 37: None, 38: None, 39: None, 40: None, 41: None, 42: None, 43: None, 44: None, 45: None, 46: None, 47: None, 58: None, 59: None, 60: None, 61: None, 62: None, 63: None, 64: None, 91: None, 92: None, 93: None, 94: None, 95: None, 96: None, 123: None, 124: None, 125: None, 126: None}
Python

In [1]:
s='Di!x!it P@!!t!!el!'
l=s.maketrans('','','!')
x=s.translate(l)
print(l)
print(x)

{33: None}
Dixit P@tel

In [3]:
s='Hello Sam!!'
x="mSa"
y='eJo'
l=s.maketrans(x,y)
x=s.translate(l)
print(x)

Hello Joe!!

In [17]:
#wap to replace each special symbol with hash in the following statement
s='/*John is @developer & musician!!'
l=s.maketrans(string.punctuation,'#'*32)
x=s.translate(l)
print(x)

##John is #developer # musician##

In [21]:
#wap to replace each special symbol with hash in the following statement
import string
s='/*John is @developer & musician!!'
for i in s :
    if i.isalnum() :
        pass 
    elif i.isspace():
        pass
    else :
        s=s.replace(i,'#')
print(s)

##John is #developer # musician##

In [23]:
#wap to replace each special symbol with hash in the following statement
import string
s='/*John is @developer & musician!!'
for i in string.punctuation :
     s=s.replace(i,'#')
print(s)

##John is #developer # musician##

### wap to remove ith char from the string

In [5]:
s='Hello World'
i=int(input('Enter index : '))
s=s.replace(s[i],'',1)
print(s)

Enter index : 2
Helo World

In [1]:
s='Hello World'
i=int(input('Enter index : '))
x=s[:i]+s[i+1:]
print(x)

Enter index : 2
Helo World

### count of all occurences of a substring in a given string by ignoring the Cace

In [8]:
s='Welcome to USA. usa is awesome , In the Usa, freedom rings and dreams begin. The uSa a land of opportunity and diversity, brings people from all walks of life together. With a strong economy, the USA is a global leader. From the Statue of Liberty to the Grand Canyon, the USA is  iconic landmarks captivate the world. The USA, forged by pioneers, is constantly being remade and redefined by its people. This is the story of the USA, yesterday and today.'
x=s.lower()
print(x.count('usa'))

8

### Wap to display all position of a substring in a given String

In [12]:
s="abcababcdabceacedbaa"
p='a'
for i in range(len(s)):
    if s[i]==p:
        print(i)

0
3
5
9
13
18
19

### WAP to merge char of two string into a single string by taking character alternatively

In [24]:
x='ABC'
y='12345'
z=''

for i in range( min(len(x),len(y)) ):
    z=z+x[i]+y[i]
    
print(z)

#for i in range(len(x) if len(x)<len(y) else len(y)):

A1B2C32C3

### WAP to find word

In [3]:
s='abcnhgfabcnhfdabcnhgfabc'
sub='abc'
f=False
x=-1 #position
while True :
    x=s.find(sub,x+1,len(s))
    if -1==x:
        break
    print('Found at position',x)
    f=True
if f==False:
        print('Not Found')

Found at position 0
Found at position 7
Found at position 14
Found at position 21

In [13]:
s='abcnhgfabcnhfdabcnhgfabc'
sub='abc'
for i in range(len(s)):
    if sub==s[i:i+len(sub)] :
        print('Founded at Pos',i)

Found at Pos 0
Found at Pos 7
Found at Pos 14
Found at Pos 21

In [51]:
s="a4b3c2"
for i in range(0 if s[0].isalpha else 1 ,len(s)):
    if s[i].isalpha():
        print(s[i]*int(s[i+1]))

aaaa
bbb
cc

### Wap to check the validity of the password
* 1) min 8 char
* 2) alpha should be between [a-z]
* 3) Aleast one UpperCase [A_Z]
* 4) Aleast one digit [1-9]
* 5) Aleast one Special Char [ _,@,$]

In [80]:
s=input("Enter Password : ")
u=0 #Count UpperCase
d=0 #Count Digit
sc=0 #Count Special Char
l=0 # Count of LowerCase
for i in range(len(s)):
    if s[i].islower():
            l+=1
    if s[i].isupper():
            u+=1
    if s[i].isdigit():
            d+=1
    if s[i] in "_@$":
            sc+=1
            
if u>1 and l>1 and d>1 and sc>1 and (l+u+d+sc)==len(s):
    print('Valid')
else :
    print('InValid')

Enter Password : DDDD@123
InValid

### WAP to shift the decimal digit and  if shift is greater than the number of n then reverse the String
* n='12345'
* if shift=1 o/p 23451
* if shift=2 o/p 34512
* if shift=6 o/p 54321

In [12]:
s=int(input("Enter Shift : "))
n="12345"
if s>len(n) :
    print(n[::-1])
else :
    print(n[s:]+n[:s])

Enter Shift : 2
34512

## Tuple
    tuple is same as list expect it is immutable once we create tuple object we cant not perform any changes in that object 
    - Tuple is readonly version of list
    - if our data is fixed and never changed then we should go for tuple
    - insertion order is preserved
    - duplicates are allowed
    - We can diff object by using index hence index play imp role in tuple
    - Tuple supporta both +ve and -ve index
    - We can represent tuple element in paranthesis with comma seperator
    - paranthesis are optional but recommended to use

In [4]:
a=(10,20,30)
b=10,20,30
c=(10,"apple",(10,20,30))
t=()
print(type(t))
print(t)

<class 'tuple'>
()

In [5]:
t=(10)
print(type(t))
print(t)

<class 'int'>
10

In [7]:
t=(10,)
print(type(t))
print(t)

<class 'tuple'>
(10,)

In [9]:
t=10,20,30,40
print(type(t))
print(t)

<class 'tuple'>
(10, 20, 30, 40)

In [15]:
t=tuple(range(10,20,2))

print(type(t))
print(t)

<class 'tuple'>
(10, 12, 14, 16, 18)

* Accessing element of tuple 
    * 1) by using index
    * 2) by using slicing operator

In [16]:
t=10,20,30,40,50,60
print(t[2])
print(t[4])
print(t[-2])
print(t[100])

30
50
50

IndexError: tuple index out of range

In [23]:
print(t[2:5])
print(t[:2])
print(t[4:])
print(t[2:100]) # print(t[2:])
print(t[::2])
print(t[::-1])

(30, 40, 50)
(10, 20)
(50, 60)
(30, 40, 50, 60)
(10, 30, 50)
(60, 50, 40, 30, 20, 10)

## Maths operator for tuple
- concentration +

In [25]:
t1=10,20,30,40
t2=50,60,70,80
t=t1+t2
print(t)

(10, 20, 30, 40, 50, 60, 70, 80)

- repetaion *

In [28]:
t1=10,20,30,
t=t1*3
print(t)

(10, 20, 30, 10, 20, 30, 10, 20, 30)

### imp function of tuple

In [1]:
t=(10,20,30,40)
print(len(t))

4

In [8]:
t=(1,2,2,2,1,1,3,1,2,2,2,3)
print('1 count :',t.count(1))
print('2 count :',t.count(2))
print('3 count :',t.count(3))
print('4 count :',t.count(4))

1 count : 4
2 count : 6
3 count : 2
4 count : 0

In [10]:
#index() - return the index of first occurense , if not found then ValueError
print('Index of 2 :',t.index(2))
print('Index of 3 :',t.index(3))
print('Index of 5 :',t.index(5))

Index of 2 : 1
Index of 3 : 6

ValueError: tuple.index(x): x not in tuple

In [12]:
s='Hello World'
print(s.index('l'))
print(s.index('D'))

2

ValueError: substring not found

In [14]:
t=(10,20,10,10,20)
print('Index of 10 :',t.index(10))
print('Index of 10 btw(1,5) :',t.index(10,1,5))

Index of 10 : 0
Index of 10 btw(1,5) : 2

In [20]:
t=(10,30,40,20,50)
t1=sorted(t)
print(t)
print(t1)
print("Type Casting")
print(tuple(t1))

(10, 30, 40, 20, 50)
[10, 20, 30, 40, 50]
Type Casting
(10, 20, 30, 40, 50)

In [32]:
s="LJIET"
s1=sorted(s)
print(s)
print(s1)
x=''
print('For String ðŸ‘‡ðŸ‘‡')
for i in s1:
    x=x+i
    
print(x)

LJIET
['E', 'I', 'J', 'L', 'T']
For String ðŸ‘‡ðŸ‘‡
EIJLT

In [29]:
t=(10,30,40,20,50,50,20,11)
# to reverse Tuple also Same for String
t1=sorted(t,reverse=True)
print(t)
print(t1)

(10, 30, 40, 20, 50, 50, 20, 11)
[50, 50, 40, 30, 20, 20, 11, 10]

In [37]:
t=(10,50.2,40,20,30)
print('Min : ',min(t))
print('Max : ',max(t))

Min :  10
Max :  50

In [ ]:
# find Min max without function -- Hint Use Sorting

## Tuple Packing and Unpacking

In [38]:
# Packing
a=10
b=20
c=30
d=40
t=a,b,c,d
print(t)

(10, 20, 30, 40)

In [39]:
# UnPacking
t=(5,6,7,8)
a,b,c=t
print(a,b,c)

ValueError: too many values to unpack (expected 3)

In [40]:
# UnPacking
t=(5,6,7,8)
a,b,c,d=t
print(a,b,c,d)

5 6 7 8

### Loop through Tuple

In [41]:
t=('a','b','c')
for i in t:
    print(i)

a
b
c

In [42]:
for i in range(len(t)):
    print(i,':',t[i])

0 : a
1 : b
2 : c

In [47]:
x=0
while x<len(t):
    print(t[x])
    x=x+1

a
b
c

In [48]:
# not asc or dec it just reverse the Str
s="Python"
print(list(reversed(s)))

['n', 'o', 'h', 't', 'y', 'P']

In [49]:
t=(20,10,40,30)
print(list(reversed(t)))

[30, 40, 10, 20]

In [50]:
r=range(5,9)
print(list(reversed(r)))

[8, 7, 6, 5]

### enumerate()
- if u pass a string to enumerate() the o/p will show you the index and value for each character of the String

In [59]:
s1="Dixit Patel"
obj1=enumerate(s1)
print(list(obj1))

[(0, 'D'), (1, 'i'), (2, 'x'), (3, 'i'), (4, 't'), (5, ' '), (6, 'P'), (7, 'a'), (8, 't'), (9, 'e'), (10, 'l')]

In [5]:
s="Hello Python"
for i,j in enumerate(s):
    print(i,':',j)

0 : H
1 : e
2 : l
3 : l
4 : o
5 :
6 : P
7 : y
8 : t
9 : h
10 : o
11 : n

In [28]:
t=(1,2,4,6,7,8,13,14,16)

ec=0
oc=0

even=0
odd=0

emax=0
omax=0

for i in t:
    if i%2==0:
        even=even+i
        ec=ec+1
        
        if emax<i :
            emax=i
        if emin>i :
            emin=i
        
    else :
        odd=odd+i
        oc+=1
        
        if omax<i :
            omax=i
        if omin>i :
            omin=i   
            
print('count even',ec)
print('Even sum',even)
print('Even min',emin)
print('Even Max',emax)
print("-----------------------")
print('count odd',oc)
print('Odd sum',odd)
print('Odd min',omin)
print('Odd Max',omax)

count even 6
Even sum 50
Even min 2
Even Max 16
-----------------------
count odd 3
Odd sum 21
Odd min 13
Odd Max 13

In [33]:
t=(1,2,4,6,7,8,13,14,16)
even=()
odd=()

for i in t:
    if i%2==0:
        even+=i,
    else :
        odd+=i,
    
print(even)
print('count even',len(even))
print('Even min',min(even))
print('Even Max',max(odd))
print("-----------------------")
print(odd)
print('count odd',len(odd))
print('Odd min',min(odd))
print('Odd Max',max(odd))

(2, 4, 6, 8, 14, 16)
count even 6
Even min 2
Even Max 13
-----------------------
(1, 7, 13)
count odd 3
Odd min 1
Odd Max 13